body {
  background-color: #eee;
  font-family: sans-serif;
}

.jumbotron {
  color: red;
  text-align: center;
}

#d1, #d2, #d3, #d4, #d5, #d6 {
  display: none;
  width: 240px;
}

.btn-dice {
  width: 100px;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
}

.btn-dice:hover {
  width: 100px;
  padding: 10px;
  background-color: red;
  margin: 5px;
  border: 2px solid black;
}

.btn-no-dice {
  color: white;
  width: 100px;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
  pointer-events: none;
}

.btn-no-dice:hover {
  color: white;
  width: 100px;
  padding: 10px;
  background-color: white;
  margin: 5px;
  border: 2px solid black;
  pointer-events: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  padding: 20px;
  text-align: center;
  height: 100px;
}
